<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Email_Survey_Default">
    <classes>
      <class name="com.checkerSoftware.testCases.Email_Survey_Updated_In_Survey_Body_Auto_Test"/>
    </classes>
  </test> <!-- Test -->
  <test name="Email_Survey_HINDI">
    <classes>
      <class name="com.checkerSoftware.testCases.Email_Survey_Updated_In_Survey_Hindi_Language_"/>
    </classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->
